*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body{
    background-color: rgb(8, 36, 37);
background-image:url("mypictures.jpg" );
background-repeat:unset;
align-items: flex-start;
font-size: 20px;
}



.content{width:75%;
display:flex;
flex-flow:column;
font-family:Grace;

 }


header{
    border-radius:25px;
    background-color:rgb(161, 190, 165);
    padding:20px;
    
    height:80px;
    display:inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-around;
    
}



@font-face { 
    font-family: Grace;
    src: url(../grace.ttf); 
    }


/*background image used was teken by me in 2019*/



#section1{
    background-color: rgb(153, 193, 196);
    padding: 50px;
    text-align: left;
    height: 22em;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items:left;
    }

    #section2{
        background-color: rgb(153, 193, 196);
        padding: 7px;
        height: 25em;
        border-radius: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        }



#section3{     background-color: rgb(153, 193, 196);
    padding: 14px;
    text-align: left;
    height: 25em;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items:left;
}

#section4{    background-color: rgb(153, 193, 196);
    padding: 19px;
    text-align: left;
    height: 25em;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items:left;
    }



#section5{    background-color: rgb(153, 193, 196);
    padding: 50px;
    text-align: left;
    height: 22em;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items:left;}



#profile-picture{
    height: 224px;
    width: 197px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 20px;
    }



#prework-study-guide{
    height:300px; 
    width:300px;
    border-radius:15px 15px 0px 0px;
    margin-bottom: 20px;}







#refactored{
    height: 270px;
    width:200px;
    object-fit: fill;
    border-radius: 15px;
}  






#KU{
    height:270px; 
    width:300px;
    border-radius:15px 15px 0px 0px;
    margin-bottom: 20px;}







footer{background-color:rgb(70, 133, 138);
    padding:35px;
    margin-left:auto;
    margin-right:auto; 
    text-align: center;
    border-radius:50px;
    margin:50px;}

#linkden{ width:42px; height:42px;}

html{scroll-behavior: smooth;}

#from-the-heart{
    height: 225px;
    width:209px;
    object-fit: fill;
}



@media only screen and (max-width: 841px) {
    #section1{height:20em;}
    #section2{height:25em;}
    #section3{height:25em;}
    #section4{height:25em;}
    #section5{height:23em;}

    #profile-picture{height:200px;
    }

    #prework-study-guide{
        height:300px;
        
    }

    #KU{height:300px;}
   
    #refactored{height:250px}
    #from-the-heart{height:250px;} 
    p{font-size:17px;}
}


@media only screen and (max-width: 660px) {
    nav{font-size: 14px;}
    h2{font-size:1.2em;
        text-align: center;}
    p{text-align: center;}
    #KU {
        height: 200px;
        width: 250px;
        border-radius: 15px 15px 0px 0px;
        margin-bottom: 20px;
    }
    #from-the-heart {
        height: 244px;
        width:182px;
    }
}

@media only screen and (max-width: 475px) { 
#section1{height:22em;}
#section2{height:27em;}
#section3{height:29em;}
#section4{height:23em;}
#section5{height:29em;}

nav{font-size: 11px;}
h2{font-size:1.2em;
    text-align: center;}
#KU {
    height:160px ;
    width:150px ;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 20px;
}
#from-the-heart {
    height: 244px;
    width:182px;
}
#prework-study-guide{
    height:300px;
    width:261px;
    
}
}

@media only screen and (max-width: 380px) {
    #section3{height:31em;}
nav{font-size: 11px;}

h2{font-size:1.2em;
    text-align: center;}
#KU {
    height:160px ;
    width:150px ;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 20px;
}
#from-the-heart {
    height: 195px;
    width: 134px;
}
#prework-study-guide{
    height: 210px;
    width: 183px;}

 #profile-picture{
    height:181px;
    width: 150px;
}
#refactored {
    height: 182px;
}
p{font-size:14px;}
}

@media only screen and (max-width: 300px) {
    #section3{height:31em;}
nav{font-size: 9px;}

h2{font-size:1.2em;
    text-align: center;}

#from-the-heart {
    height: 150px;
    width: 116px;
}
#prework-study-guide{
    height: 142px;
    width: 160px;}

 #profile-picture{
    height:146px;
    width: 112px;
}
#refactored {
    height: 152px;
    width:155px;
}
p{font-size:14px;}
}