*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body{
    background-color: rgb(8, 36, 37);
background-image:url("mypictures.jpg" );
background-repeat:unset;
align-items: flex-start;
font-size: 20px;
}



.content{width:75%;
display:flex;
flex-flow:column;
font-family:Grace;

 }


header{
    border-radius:25px;
    background-color:rgb(161, 190, 165);
    padding:20px;
    width:900px;
    height:80px;
    display:inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-around;
    
}



@font-face { 
    font-family: Grace;
    src: url(../grace.ttf); 
    }


/*background image used was teken by me in 2019*/



#section1{
    background-color: rgb(153, 193, 196);
    padding: 50px;
    text-align: left;
    height: 22em;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items:left;
    }

    #section2{
        background-color: rgb(153, 193, 196);
        padding: 7px;
        height: 22em;
        border-radius: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        align-items:flex-start;
        }



#section3{     background-color: rgb(153, 193, 196);
    padding: 14px;
    text-align: left;
    height: 25em;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items:left;
}

#section4{    background-color: rgb(153, 193, 196);
    padding: 19px;
    text-align: left;
    height: 25em;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items:left;
    }



#section5{    background-color: rgb(153, 193, 196);
    padding: 50px;
    text-align: left;
    height: 22em;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items:left;}



#profile-picture{
    height: 224px;
    width: 197px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 20px;
    }



#prework-study-guide{
    height:300px; 
    width:300px;
    border-radius:15px 15px 0px 0px;
    margin-bottom: 20px;}







#refactored{
    height: 270px;
    width:200px;
    object-fit: fill;
    border-radius: 15px;
}  






#KU{
    height:270px; 
    width:300px;
    border-radius:15px 15px 0px 0px;
    margin-bottom: 20px;}







footer{background-color:rgb(70, 133, 138);
    padding:35px;
    margin-left:auto;
    margin-right:auto; 
    text-align: center;
    width:50em;
    border-radius:50px;
    margin:50px;}

#linkden{ width:42px; height:42px;}

html{scroll-behavior: smooth;}

#from-the-heart{
    height: 225px;
    width:209px;
    object-fit: fill;
}



@media only screen and (max-width: 841px) {
    #section1{height:35em;}
    #section2{height:35em;}
    #section3{height:45em;}
    #section4{height:35em;}
    #section5{height:45em;}

    #container{height:150px}
    #container2{height:150px}
    #container3{height:240px}
    #container4{height:150px}
    #container5{height:150px}

    #profile-picture{height:200px;
    }

    #prework-study-guide{
        height:300px;
        
    }

    #KU{height:300px;}
   
    #refactored{height:300px}
    #from-the-heart{height:350px;} 
    p{font-size:13px;}
}